.profile-header{
    position: relative;
}
.profile-cover{
    margin-top:8px;
    width: 100%;
    height: 40vh;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.profile-image{
    top: 90%;
    left: 45%;
}

@media screen and (max-width:900px) {
     .profile-container{
         margin: 0 ;
     }
}