.landing-container{
    background-image: url("../../assets/socialmedia.svg");
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}