.explore-body{
    margin: 1rem;
    padding: 1rem;
}
.floating-addpost{
    bottom: 1rem;
    right:1rem;
}
@media screen and (min-width:600px) and (max-width:900px) {
    
}
@media screen and (max-width:600px) {
     
}