:root{
    --grey-bg:#e6e8eb;
    --primary-color:#407BFF;
    --icon-color:#666666;
    --card-border:#2196f36b;
    --icon-light:#00000042;
}

a{
    text-decoration: none;
}

/* input[type="text"]{
    padding: 0.5rem;
} */

.modal-create-post .MuiPaper-root{
     width: 50vw;
}