:root {
  --grey-bg: #e6e8eb;
  --primary-color: #407bff;
  --icon-color: #666666;
}

a {
  text-decoration: none;
}

.modal-create-post .MuiPaper-root {
  width: 50vw;
}

.img {
  object-fit: cover;
}
