.login-image{
    width: 40vw;
    padding-left: 5rem;
    padding-top: 5rem;
    box-sizing: border-box;
}

.signup-avatar{
    filter: brightness(40%);
    cursor: pointer;
}
.signup-avatar:hover,.signup-avatar-focus{
    filter: brightness(100%);
    border: 2px solid;
    border-radius: 50%;
}

.eye-icon{
    top: 25px;
    right:20px
}